<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
    <script src="https://unpkg.com/vue@next" defer></script>

<!-- 

 TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries 

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDgjhup4oLJqvFuyiqe89cx1Jm4FOJcVGY",
    authDomain: "cms-project-eda4c.firebaseapp.com",
    projectId: "cms-project-eda4c",
    storageBucket: "cms-project-eda4c.appspot.com",
    messagingSenderId: "605487698777",
    appId: "1:605487698777:web:390ade14444d9c9f7b7248"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script> -->

    <script src="javascript.js" defer></script>
</head>
<body>
    <div class="container-flex" id="aici">
        <div class="row justify-content-center mt-4 mb-4" >
            <div class="col col-10 col-sm-10 col-md-10 col-lg-8 col-xl-6  shadow" id="form-box">
                <div class="form-group w-75 mx-auto">
                    <label for="firstname">Firstname</label>
                    <input type="text" v-model="firstname" class="form-control" id="firstname" placeholder="Enter your firstname" required>
                </div>
                <div class="form-group w-75 mx-auto">
                    <label for="lastname">Lastname</label>
                    <input type="text" v-model="lastname" class="form-control" id="lastname" placeholder="Enter your lastname" required>
                </div>
                <div class="form-group w-75 mx-auto">
                    <label for="email">Email</label>
                    <input type="email" v-model="email" class="form-control" id="email" placeholder="something@something.com" aria-describedby="email" required>
                </div>
                <div class="form-group w-75 mx-auto">
                    <label for="sex">Sex</label>
                    <select class="form-control" v-model="sex" id="sex">
                        <option value="m" slected="selected">Male</option>
                        <option value="f">Female</option>
                        <option value="d">Dog(I'm here accidentally)</option>
                        <option value="y">Yes, please</option>
                    </select>
                </div>
                <div class="form-group w-75 mx-auto">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" v-model="date">
                </div>
                <div class="input-group mb-3 w-75 mx-auto">
                    <div class="custom-file">
                        <input type="file" id="image" name="image" v-on:change="uploadImage">
                    </div>
                </div>

                <img src="C:\Users\IonutRoth\Documents\GitHub\cms\user-2935373_960_720.png" alt="" id="avatar"><br>

                <button class="btn btn-success mr-3" v-on:click="verifyContent()">Submit</button>
                <button class="btn btn-warning mr-3" v-on:click="clearContent()">Clear</button>
                <button class="btn btn-dark" v-on:click="addToDB()">testing</button>
                <button class="btn btn-dark" v-on:click="selectFromDB()">testing2</button>
                <button class="btn btn-dark" v-on:click="cevaaa()">testing3</button>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col col-11 shadow-lg" style="overflow-x:scroll;padding-left:0px;padding-right:0px;min-width:1050px;
            max-width:1150px;">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nr.</th>
                        <th scope="col" style="width:170px">Firstname <br>
                            <div class="btn-group">
                                <button class="btn btn-light" v-on:click="sortColumnFirstname">Sort</button>
                                <button class="btn btn-primary" v-on:click="searchFirstname">Search</button>
                            </div>
                            <input type="text" id="firstnameinput" >
                        </th>
                        <th scope="col" style="width:170px">Lastname <br>
                            <div class="btn-group">
                                <button class="btn btn-light" v-on:click="sortColumnLastname">Sort</button>
                                <button class="btn btn-primary" v-on:click="searchLastname">Search</button>
                            </div>
                            <input type="text" id="lastnameinput" >
                        </th>
                        <th scope="col" style="width:170px">Email <br>
                            <div class="btn-group">
                                <button class="btn btn-light" v-on:click="sortColumnEmail">Sort</button>
                                <button class="btn btn-primary" v-on:click="searchEmail">Search</button>
                            </div>
                            <input type="text" id="emailinput">
                        </th>
                        <th scope="col" style="width:170px">Sex <br>
                            <div class="btn-group">
                                <button class="btn btn-light" v-on:click="sortColumnSex">Sort</button>
                                <button class="btn btn-primary" v-on:click="selectMale">m</button>
                                <button class="btn btn-danger" v-on:click="selectFemale">f</button>
                            </div>
                        </th>
                        <th scope="col" style="width:200px">Birthday <br>
                            <div class="btn-group">
                                <button class="btn btn-light" v-on:click="sortColumnBirthday">Sort</button>
                                <button class="btn btn-primary" v-on:click="searchBirthday">Search</button>
                            </div> <br>
                            <div >
                                <input type="number" id="start"  placeholder="Start">
                                <input type="number" id="stop" placeholder="Stop">
                            </div>
                            
                        </th>
                        
                        <th scope="col" style="width:100px">Avatar</th>
                        <th scole="col" style="width:100px">Actions</th>
                      </tr>
                    </thead>
                    <tbody style="border-color: green;border-style:solid;border-width:1px">
                      <tr v-for="(person,index) in persons":key="index" v-if="!sorting">
                        <th scope="row" id="numbering" style="background-color:rgb(214, 226, 214) ;">{{index + 1}}</th>
                        <td class="rowww">{{person.firstname}}</td>
                        <td class="rowww">{{person.lastname}}</td>
                        <td class="rowww">{{person.email}}</td>
                        <td class="rowww">{{person.sex}}</td>
                        <td class="rowww">{{person.date}}</td>
                        <td class="rowww"><img v-bind:src="person.image" alt="" style="width:100px;height:100px; border-radius: 50%;"></td>
                        <td class="rowww"><button class="btn btn-danger" v-on:click="deleteFromDB(person.dbId)">Delete</button></td>
                      </tr>
                      <tr v-for="(person,index) in sortedPersons":key="index" v-if="sorting">
                        <th scope="row" id="numbering">{{index + 1}}</th>
                        <td class="rowww">{{person.firstname}}</td>
                        <td class="rowww">{{person.lastname}}</td>
                        <td class="rowww">{{person.email}}</td>
                        <td class="rowww">{{person.sex}}</td>
                        <td class="rowww">{{person.date}}</td>
                        <td class="rowww">picture</td>
                        <td class="rowww"><button class="btn btn-danger" v-on:click="deleteSortedContent(person.dbId)">Delete</button></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>