#form-box{
    background-color: rgb(214, 226, 214);
    border-radius: 20px;
    padding:30px;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    text-align: center;
    min-width:450px
}

body{
    background-color: rgb(179, 179, 179);
}

td,#numbering{
    background-color: lightgrey;
}

#avatar{
    padding:1px;
    width:250px;
    height: 250px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-bottom: 3%;
}

.txt-input{
    width:80%;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}

.btn-group{
    padding: 0px;
}

.table{
    min-width: 1150px;
    width:100%;
    vertical-align: middle !important
;
    
}

 #emailinput, #lastnameinput, #firstnameinput{
    border-radius: 10%;
    outline: none;
    width:130px;
    display: inline; 
    float:left
}

#stop, #start{
    border-radius: 10px;
    outline: none;
    width:70px;
    display: inline; 
    float:left
}



#firstNameSearch,#lastNameSearch,#emailSearch,#dateStartSearch,#dateEndSearch{
    width:400px
}

#sortSearchFields{
    background-color: #212529;
    color: white; 
    padding-bottom: 20px;
}

#sortColumns{
    background-color: #3f474e;
    color: white; 
    padding-bottom: 20px;
}

#table-div{
    overflow-x:scroll;
    padding-left:0px;
    padding-right:0px;
    width:1150px
}

th{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(214, 226, 214);
}

td{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(214, 226, 214);
}